.about-page {
 display: flex;
 flex-direction: column;
 align-items: center;
 background: #001935;
 position: relative;
 top: -8rem;
 padding-top: 8rem;
 padding-left: 2rem;
 padding-right: 2rem;
 height: 100vh;
 overflow:hidden;
 font-family: sans-serif;
 &-red{
    background: #630909
  }
 &-green {
    background: #07460b;
  }
}

.about-page >h1 {
  color: white;
}

.about-section {
  background: white;
  width: 40rem;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.about-section > h2 {
    text-align: center;
}