.adverts-page {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
   &-red{
      background: rgb(127, 20, 20)
  }
  &-green {
    background: rgb(20, 120, 20)
  }
  
}

.adverts-greeting {
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, .5);
}

.adverts-greeting > h2 {
  font-weight: 200;

}

.adverts-index {
    min-height: fit-content;
}