/* 
  TODO: Split into different scss files and place into a stylesheets folder.
*/
@import '/about';
@import '/articles';
@import '/dashboard';
@import '/errors';
@import '/header';
@import '/images';
@import '/session';
@import '/adverts';
@import '/comments';
@import '/confirmation';
@import '/editing';
@import '/reactions';
@import '/navigation';
@import '/search';
@import '/trending';
@import '/post_card';

@font-face { /* Undertale */
    font-family: 'Undertale';
    src: url('https://vignette2.wikia.nocookie.net/heliosanctus/images/c/c0/Determination.eot');
    src: url('https://vignette2.wikia.nocookie.net/heliosanctus/images/c/c0/Determination.eot?#iefix') format('embedded-opentype'),
         url('https://vignette3.wikia.nocookie.net/heliosanctus/images/a/aa/Determination.woff2') format('woff2'),
         url('https://vignette3.wikia.nocookie.net/heliosanctus/images/3/37/Determination.woff') format('woff'),
         url('https://vignette2.wikia.nocookie.net/heliosanctus/images/c/cd/Determination.ttf') format('truetype'),
         url('https://vignette3.wikia.nocookie.net/heliosanctus/images/7/7f/Determination.svg#Undertale') format('svg');}

::placeholder{
  color: white;
  opacity: .6;
}

body {
   background: #001935;
  //  &-red{
  //   background: #630909
  // }
  // &-green {
  //   background: #07460b;
  // }
  width: 100vw;
}

.loading-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   background: #001935;
   &-red{
    background: #630909
  }
  &-green {
    background: #07460b;
  }
}

.post-delete-btn {
  position: absolute;
  right: .5rem;
  top: .5rem;
  font-size: 24px;
  padding: .5rem;
  text-shadow: 2px 1px 1px 1px white;;
  background: rgba(255, 255, 255, .2);
}
.post-delete-btn:hover {
  cursor: pointer;
  color: blue;
  transition: all .1s;
}

.submit {
  border-radius: 5px;
  border: none;
  background: #00b8ff;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  padding: .6rem;
  margin: .2rem;
  width: fit-content;
  &:hover {
    cursor: pointer;
    background:#659bb1;
    transition: all .2s;
  }

  &.red {
    background: #590A0A;
    &:hover {
      background: rgb(156, 30, 30);
    }
  }

  &.green {
    background: #093009;
    &:hover {
      background: #166616
    }
  }

  &.bonetrousle {
    border-radius: 0;
    border: 3px solid white;
    background: black;
    font-family: "Undertale";
    &:hover {
      color: black;
      background: white;
    }
  }

  &.disabled {
    background: gray;
    &:hover {
      background: gray;
      cursor:not-allowed;
    }
  }
}


.demo-login {
  border-radius: 5px;
  border: none;
  color: #00b8ff;
  background: white;
  font-weight: bold;
  font-family: sans-serif;
  padding: .6rem;
  margin: .2rem;
  width: fit-content;
  &:hover{
      color:#659bb1;
      cursor: pointer;
  }
}

.post-creation-label {
  color: white;
  font-size: medium;
}