.article-create-page {
 display: flex;
 flex-direction: column;
 align-items: center;
 background: #001935;
 position: relative;
 padding-left: 2rem;
 padding-right: 2rem;
 height: -webkit-fill-available;
&-red{
    background: #630909
  }
 &-green {
    background: #07460b;
  }
  &.bonetrousle{
    background: black;
    border: 3px solid white;
    font-family: 'Undertale';
  }
}

.article-create-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  margin-top: 2rem;
  width: 40rem;
   &.bonetrousle{
    background: black;
    border: 3px solid white;
    font-family: 'Undertale';
  }
}

.article-create-form > input {
  border: none;
}

.article-create-title {
  font-size: 32px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: .5rem;
  background: rgba(255, 255, 255, .5);
  padding: .5rem;
  &.bonetrousle {
    background: black;
    border: 1px solid white;
    color: white;
  }

}

.article-create-title:focus {
  outline: none
}

.article-create-body {
  min-height: 15rem;
  padding: .5rem;
  border: none;
  background: rgba(255, 255, 255, .5);
    &.bonetrousle {
    background: black;
    border: 1px solid white;
    color: white;
  }

}

.article-create-body:focus {
  outline: none;
}


.article-index-page {
 display: flex;
 flex-direction: column;
 align-items: center;
 background: #001935;
 position: relative;
 top: -8rem;
 padding-top: 8rem;
 padding-left: 2rem;
 padding-right: 2rem;
&-red{
    background: #630909
  }
 &-green {
    background: #07460b;
  }
  &-bonetrousle{
    background: black;
    border: 3px solid white;
    font-family: "Undertale";
  }
  
}

.article-index-page > h1 {
  color: white;
}

.article-index-card {
  color: black;
  border-radius: 4px;
  padding: 2rem;
  margin: .5rem;
  background: white;
  width: 50%;
  &.bonetrousle{
    background: black;
    border: 3px solid white;
    color: white;
    font-family: "Undertale";
  }
}

.article-index-card:hover {
  cursor: pointer;
}

.article-index-title {
  text-align: center;
  font-weight: 400;
  font-size: 48px;
}

.article-index-subtitle {
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.article-index-show-link {
  text-decoration: none;
  margin-left: 1rem;
  color: black;
  &:visited {
    color: black;
    &.bonetrousle {
      color: white;
    }
  }
}

.article-index-snippet {
  font-size: 20px;
  font-weight: 600;
}

.article-card-tags {
  color: rgb(102, 100, 100);
  font-weight: 500
}

.article-show-page {
  background: #001935;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
 &-red{
    background: #630909
  }
 &-green {
    background: #07460b;
  }
  &-bonetrousle{
    background: black;
    border: 3px solid white;
    font-family: 'Undertale';
  }
}

.article-show-body {
  display: flex;
  flex-direction: row-reverse;
  white-space: pre-line;
}

.article-show-title {
}

.article-section {
  background: white;
  border-radius: 4px;
  padding: 1rem;
  align-items: center;
  width: 40rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
  @media(max-width: 325px) {
    width: 10rem;
  }
  @media(max-width: 426px) {
    width: 15rem;
  }

  &.bonetrousle {
    background: black;
    border: 2px solid white;
  }
}

.article-section > p {
  text-align: left;
}
