.edit-title {
  position: relative;
  width: -webkit-fill-available;
}

.edit-title-text {
  width: -webkit-fill-available;
  text-align: center;
   display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: .5rem;
    border: none;
    font-family: sans-serif;
    color: gray;
    border-bottom: 1px solid black;
    min-width: fit-content;

}

.edit-title-text:focus {
  outline:none;
}


.edit-body {
  width: 100%;
  height: auto;
}


.edit-body-textarea {
   width: 100%;
}

.comment-edit-form {
  // position: absolute;
  display: flex;
  background: rgba(255, 255, 255, .3);
  padding: 2rem;
  width: 100%;
  font-family: sans-serif;
}

.comment-edit-body {
  resize: none;
  width: 100%;
}

.comment-edit-buttons {
  display: flex;
  flex-direction: column;
}

.post-edit-btn {
  font-size: 1rem;
  padding:.5rem;
  position: absolute;
  right: 10px;
  padding: .5rem;
  &:hover{
    cursor: pointer;
    color: blue;
  }

  &.bonetrousle{
    color: white;
    &:hover{
      background: white;
      color: black;
    }
  }
}