/*
* TODO: Media breakpoints for the header and buttons so that it looks good on mobile
*/

.header { 
  height: auto;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9000;
  background: rgb(10, 4, 88);
  &-red {
        background: rgb(150, 11, 13);
  }

  &-green {
    background: rgb(11, 150, 11);
  }
}

.header-top {
  display: flex;
  border-bottom: 1px solid gray;
  align-items: center;
  padding: .5rem;
  width: 100%; 
  @media (max-width: 400px) {
    flex-direction: column;
  }

}

.header-site-name {
  font-weight: bold;
  font-size: 28px;
  margin: 1rem;
  color: white;
  background-image: url("../images/swyle_logo_005.png");
  height: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
}

.header-search {
  position: relative;
}

.header-search-bar {
  padding: .4rem;
  border-radius: 4px;
  background: rgb(86, 78, 197);
  border: none;
  color: white;
  font-size: 16px;
  &-red {
      background: rgb(190, 11, 13);
  }
  &-green {
    background: rgb(11, 200, 11);
  }
}

.header-search-submit {
  background: none;
  color: rgba(255,255,255,.6);
  border: none;
  border-radius: 4px;
  position: absolute;
  right: .2rem;
  top: .2rem;
  font-size: 20px;
  padding: .1rem;
}

.header-search-submit:hover {
  cursor: pointer;
}

.header-session-buttons {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
}

.header-login {
  padding-left: 13px;
  padding-right: 13px;  
  color: rgb(10, 4, 88);
  background: white;
  font-weight: 700;
  height: 32px;
  border-radius: 3px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header-login:visited {
    color: rgb(10, 4, 88);
    text-decoration: none;
}

.header-login:hover {
  background: lightgray;
  color: rgb(23, 12, 175);
  transition: all .1s;
}

.header-register:hover {
  color: lightgray;
  background: rgb(23, 12, 175);
  transition: all .1s;
  border: 2px solid lightgray;
}

.header-register {
  border: 2px solid white;
  color: white;
  background: rgb(10, 4, 88);
  font-weight: 700;
  padding-left: 13px;
  padding-right: 13px;
  height: 32px;
  border-radius: 3px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header-register:visited {
  color: white;
  text-decoration: none;
}

.header-personal-greeting {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin-left: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: larger;
    padding: .5rem;
    @media (max-width: 400px) {
      flex-direction: column;
      margin-right: 0;
  }

}

/*
* Header buttons used to initiate a new post
*/

.new-post-btn {
  padding: .5rem;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  position: absolute;
  text-align: center;
  display: flex;
  &-red{
      background: rgb(127, 20, 20);
      &:hover {
        background: rgb(147, 20, 20)
      }
  }
  &-standard {
    background: #0A0458;
    &:hover{
     background: rgb(4, 41, 86);   
    }
  }
  &-green {
    background: #07460b;
    &:hover{
      background: rgb(11, 150, 11);
    }
  }
}

.new-post-btn:hover {
  padding: .6rem;
  font-size: 24px;
  transition: all .1s ease-in-out;
  z-index: 9000;
}


.new-post-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
  position: relative;
  /* right: 35rem; */
}