.image-input {
  color: white;
}


.image-creation-page {
  display: flex;
  width: 100%;
  padding: 2rem;
  justify-content: space-around;
  &-red{
    background: #630909
  }
 &-green {
    background: #07460b;
  }
}

.image-creation-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: rgba(255, 255, 255, .5);
  justify-content: space-between;
}

.image-creation-form > h1 {
  color: white;
  font-weight: 300;
  text-align: center;
}

.image-creation-form > input {
  border: none;
}

.image-creation-form > input:focus {
  outline: none;
}

.image-creation-title {
  border: none;
  font-size: 32px;
  background: rgba(255, 255, 255, .5);
  padding: .5rem;
}

.image-creation-desc {
  border: none;
  background: rgba(255, 255, 255, .5);
 padding: .5rem;
}

.image-creation-placeholder {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  border: 1px dashed black;
  background: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.image-creation-preview { 
  height: 20rem;
  width: 20rem;
  padding: 1rem;
}

.image-creation-preview > img {
  height: 100%;
}


.image-edit-btn {
  margin: 5px;
  padding: .6rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-edit-btn:hover{
  cursor: pointer;
}

.image-index-page {
 color: white;
 text-align: center;
 background: #001935;
 position: relative;
 top: -8rem;
 padding-top: 8rem;
 padding-left: 2rem;
 padding-right: 2rem;
   &-red{
      background: #630909
  }
  &-green {
    background: #07460b;
  }
}

.image-index-spread {
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

.image-index-card {
    color: black;
    border-radius: 4px;
    padding: 2rem;
    margin: .5rem;
    background: rgba(255, 255, 255, .5);
    //  width: 10rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      background: white;
      font-weight: bold;
      transition: all .1s;
    }
}

.image-index-thumb {
  width: 20rem;
  @media (max-width: 400px) {
    width: 10rem;
  }

}

.image-likes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  width: 5rem;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}

.image-show-carousel {
  display: flex;
  align-items: center;
  margin: 1rem;
  color: white;
  font-weight: bold;
  font-size: 4rem;
}

.image-show-carousel:visited {
  color: white;
}

.image-show-image {
  height: 25rem;
}

.image-show-inner {
  position: relative;
  max-width: fit-content;
}

.image-show-title {
  text-align: center;
  color: white;
  margin-block-end: unset;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-show-description {
  color: gray;
  font-style: italic;
  text-align: center;
  margin-block-start: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
