.post-card {
  background: white;
  padding: 1rem;
  border-radius: 3px;
  width: 30rem;
  margin: .5rem;
    @media (max-width: 426px) {
    width: 16rem;
  }
&.bonetrousle{
    background: black;
    border: 3px solid white;
    font-family: 'Undertale';
    color: white;
  }
}

.post-thumbnail-container {
  width: 30rem;
  @media (max-width: 426px) {
    width: 16rem;
  }
   &-bonetrousle{
    background: black;
    border: 3px solid white;
  }
}

.post-thumbnail-container > img{
  width: 100%;
}