.tooltip {
    visibility: visible;
    color: black;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    font-size: small;
    right: 0;

    &.hidden {
        visibility: hidden;
    }
}

